muledemo2/src/main/mule/muledemo2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b992ccfd-ad46-45bc-a6d0-a419c18f5003" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="muledemo2Flow" doc:id="6b29d0f9-2bf5-4d46-83b2-f9b44432514a" >
		<http:listener doc:name="Listener" doc:id="5a9d12f9-420a-4ccf-9436-d15654658454" config-ref="HTTP_Listener_config" path="/muledemo2"/>
		<set-payload value="2nd mule demo" doc:name="Set Payload" doc:id="55163cb3-a2de-4c3a-9307-3ac736234dd2" />
		<logger level="INFO" doc:name="Logger" doc:id="8da6d4a0-21b4-4911-9f5b-45d49f64d05d" message="#[payload]"/>
	</flow>
</mule>
